@import "tailwindcss";

:root {
  --light: #f8f9fd;
  --dark: #222224;
  --accent: #cafb45;
  --darker: #151515;
}

@theme inline {
  --color-background: var(--light);
  --color-foreground: var(--dark);
  --font-jost: var(--font-jost);
  --font-ptserif: var(--font-pt-serif);
}

@media (prefers-color-scheme: light) {
  :root {
    --light: #222224;
    --dark: #f8f9fd;
  }
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}
