@import "tailwindcss";

:root {
  --light: #f8f9fd;
  --dark: #222224;
  --accent: #cafb45;
  --darker: #151515;
  --grey: #8f8f8f;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
